<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tony.console.db.mapper.TestCaseConfigMapper">

    <resultMap type="TestCaseConfig" id="TestCaseConfigMap">
        <result property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtUpdate" column="gmt_update"/>
        <result property="config" column="config"/>
        <result property="type" column="type"/>
        <result property="caseId" column="case_id"/>
        <result property="version" column="version"/>
    </resultMap>

    <insert id="insert">
        insert into test_case_config (case_id, `type`, `config`)
        VALUES (#{caseId}, #{type}, #{config})
    </insert>

    <update id="update">
        update test_case_config
        set
            `config` = #{config},
            gmt_update = now(),
            `version`=`version`+1
        where
            `version`=#{version} and id=#{id}
    </update>

    <delete id="delete">
        delete from test_case_config where id=#{id}
    </delete>
</mapper>
