<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/bird.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCTest 基于录制回放的自动化测试平台</title>
    <script type="module" crossorigin src="/assets/index.1c7d38cd.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/arco.46b62ede.js">
    <link rel="modulepreload" crossorigin href="/assets/chart.42ea7243.js">
    <link rel="modulepreload" crossorigin href="/assets/vue.4bab78c1.js">
    <link rel="stylesheet" href="/assets/index.5ebdb227.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
