<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favorite.ico" type="image/x-icon"/>
    <link rel=”icon” href="/favorite.ico" type="image/x-icon"/>
    <link rel="bookmark" href="/favorite.ico" type="image/x-icon"/>
    <title>回放结果 - $!{record.identity}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- ace -->
    <link rel="stylesheet" href="/plugins/ace-diff/ace-diff.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini ">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="/dist/img/RepeaterLogo.ico"
                 alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Phoenix</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="#"  class="nav-link active">
                            <i class="nav-icon fa fa-database"></i>
                            <p>
                                在线流量
                                <span class="right badge badge-success">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/config/list.htm"  class="nav-link">
                            <i class="nav-icon fa fa-cogs"></i>
                            <p>
                                配置管理
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/module/list.htm"  class="nav-link">
                            <i class="nav-icon fa fa-heartbeat"></i>
                            <p>
                                在线模块
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>回放结果</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/online/detail.htm?appName=${record.appName}&traceId=$!{record.TraceId}">调用详情</a></li>
                            <li class="breadcrumb-item active">回放结果</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-blue card-outline">
                        <div class="card-header border-0">
                            <h5 class="card-title text-blue">
                                调用快照
                            </h5>
                            <div class="card-tools">
                            </div>
                        </div>
                        <div class="card-body" style="padding: 5px">
                            <div class="col-lg-12 col-xs-12">
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item"><a class="nav-link active" href="#basic" data-toggle="tab" aria-expanded="false">基础信息</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#request" data-toggle="tab" aria-expanded="false">请求参数</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#response" data-toggle="tab" aria-expanded="false">返回结果</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#subInvocations" data-toggle="tab" aria-expanded="false">子调用信息</a></li>
                                </ul>
                                <div class="tab-content no-padding no-border" style="margin-top: 2px">
                                    <div class="tab-pane active" id="basic">
                                        <div class="col-xs-12">
                                            <table class="table table-hover table-striped" style="word-break: break-all;">
                                                <tbody>
                                                <tr>
                                                    <td width="100px" class="text-right text-bold">应用名</td>
                                                    <td>$!record.appName</td>
                                                    <td width="100px" class="text-right text-bold">流量入口</td>
                                                    <td>$!record.entranceDesc</td>
                                                </tr>
                                                <tr>
                                                    <td width="100px" class="text-right text-bold">录制机器</td>
                                                    <td>$!record.host</td>
                                                    <td width="100px" class="text-right text-bold">TraceId</td>
                                                    <td>$!{record.traceId}</td>
                                                </tr>
                                                <tr>
                                                    <td width="100px" class="text-right text-bold">录制时间</td>
                                                    <td>$!record.gmtRecord</td>
                                                    <td width="100px" class="text-right text-bold">录制环境</td>
                                                    <td><span class="label label-primary">$!record.environment</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="request">
                                        <div class="col-xs-12" id="request-editor" style="height: 400px;display: none">$!record.request</div>
                                    </div>
                                    <div class="tab-pane" id="response">
                                        <div class="col-xs-12" id="response-editor" style="height: 400px;display: none">$!record.response</div>
                                    </div>
                                    <div class="tab-pane" id="subInvocations">
                                        <div class="col-xs-12" id="subInvocations-editor" style="height: 400px;display: none">$!record.subInvocations</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer clearfix" >
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-blue card-outline">
                        <div class="card-header border-0">
                            <h5 class="card-title text-blue">
                                回放结果
                            </h5>
                            <div class="card-tools">
                            </div>
                        </div>
                        <div class="card-body" style="padding: 5px">
                            <div class="col-lg-12 col-xs-12">
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item"><a class="nav-link active" href="#basic-replay" data-toggle="tab" aria-expanded="false">基础信息</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#diffNode" data-toggle="tab" aria-expanded="false">差异节点</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#resultDiff" data-toggle="tab" aria-expanded="false">结果Diff</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#mockProcess" data-toggle="tab" aria-expanded="false">MOCK过程</a></li>
                                </ul>
                                <div class="tab-content no-padding no-border" style="margin-top: 2px">
                                    <div class="tab-pane active" id="basic-replay">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12">
                                                <table class="table table-hover table-striped" style="word-break: break-all;">
                                                    <thead>
                                                    <tr>
                                                        <th>执行结果</th>
                                                        <th>耗时</th>
                                                        <th>执行环境</th>
                                                        <th>执行机器</th>
                                                        <th>RepeatId</th>
                                                        <th>TraceId</th>
                                                        <th>执行时间</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            #if($!replay.status.desc == '执行中')
                                                                <span class="badge bg-primary">执行中</span>
                                                            #else
                                                                #if($!replay.success)
                                                                        <span class="badge bg-success">成功</span>
                                                                    #else
                                                                        <span class="badge bg-danger">失败</span>
                                                                #end
                                                            #end
                                                        </td>
                                                        <td>$!{replay.cost}ms</td>
                                                        <td>$!{replay.environment}</td>
                                                        <td>$!{replay.ip}</td>
                                                        <td>$!{replay.repeatId}</td>
                                                        <td>$!{replay.traceId}</td>
                                                        <td>$!replay.gmtCreate</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="diffNode">
                                        #if($!replay.differences && $!replay.differences.size()>0)
                                            <div class="col-xs-12 table-responsive no-padding">
                                                <table class="table table-bordered table-striped" style="word-break: break-all;">
                                                    <thead>
                                                    <tr>
                                                        <th style="min-width: 100px;">节点</th>
                                                        <th style="min-width: 100px;">期望值</th>
                                                        <th style="min-width: 100px;">实际值</th>
                                                        <th style="min-width: 100px;">原因</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        #foreach($diff in $replay.differences)
                                                        <tr>
                                                            <td>$!diff.nodeName</td>
                                                            <td>
                                                                #if($diff.expect)
                                                                   $!diff.expect
                                                                #else
                                                                    <span class="text-purple">null</span>
                                                                #end
                                                            </td>
                                                            <td>
                                                                #if($diff.actual)
                                                                    $!diff.actual
                                                                #else
                                                                    <span class="text-purple">null</span>
                                                                #end
                                                            </td>
                                                            <td>$!diff.type</td>
                                                        </tr>
                                                        #end
                                                    </tbody>
                                                </table>
                                            </div>
                                        #else
                                            <h5 style="padding: 20px">没有差异节点</h5>
                                        #end
                                    </div>
                                    <div class="tab-pane" id="resultDiff">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="badge badge-success">预期结果</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="badge badge-success" style="margin-left: 20px">实际结果</span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div id="diff-patch-view" style="height: 450px"></div>
                                        </div>
                                        <div id="diff-path-left" style="display: none">$!{record.response}</div>
                                        <div id="diff-path-right" style="display: none">$!{replay.response}</div>

                                    </div>
                                    <div class="tab-pane" id="mockProcess">
                                        #if($!replay.mockInvocations && $!replay.mockInvocations.size()>0)
                                            <div class="col-xs-12 table-responsive no-padding">
                                                <table class="table table-hover table-striped" style="word-break: break-all;">
                                                    <thead>
                                                    <tr>
                                                        <th width="5%">序号</th>
                                                        <th width="15%">录制identity</th>
                                                        <th width="15%">回放identity</th>
                                                        <th width="27%">录制参数</th>
                                                        <th width="27%">回放参数</th>
                                                        <th width="6%">耗时</th>
                                                        <th width="5%">状态</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        #foreach($mock in $!replay.mockInvocations)
                                                        <tr>
                                                            <td>$!mock.index</td>
                                                            <td>$!mock.originUri</td>
                                                            <td>$!mock.currentUri</td>
                                                            <td>$!mock.originArgs</td>
                                                            <td>$!mock.currentArgs</td>
                                                            <td>$!{mock.cost}ms</td>
                                                            <td>
                                                                #if($!mock.skip)
                                                                    <span class="badge badge-warning">忽略</span>
                                                                #elseif($!mock.success)
                                                                    <span class="badge badge-success">成功</span>
                                                                #else
                                                                    <span class="badge badge-danger">失败</span>
                                                                #end
                                                            </td>
                                                        </tr>
                                                        #end
                                                    </tbody>
                                                </table>
                                            </div>
                                        #else
                                            <h5 style="padding: 20px">没有mock过程 </h5>
                                        #end
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer clearfix" >
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.1
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- ace -->
<script src="/plugins/ace-editor/ace.js" charset="UTF-8"></script>
<script src="/plugins/ace-diff/ace-diff.min.js" charset="UTF-8"></script>
    #parse("blocks/fakeloader.vm")

<script src="/app/js/app.js" charset="UTF-8"></script>
<script src="/app/js/start-repaly.js" charset="UTF-8"></script>
<script type="application/javascript">
    jQuery(function($){
        if (document.getElementById("request-editor")) {
            var requestEditor = ace.edit("request-editor");
            requestEditor.setTheme("ace/theme/xcode");
            requestEditor.getSession().setMode("ace/mode/json");
            requestEditor.setReadOnly(true);
            requestEditor.setShowPrintMargin(false);
            requestEditor.resize();
            $('#request-editor').fadeIn(500);
        }

        if (document.getElementById("response-editor")) {
            var responseEditor = ace.edit("response-editor");
            responseEditor.setTheme("ace/theme/xcode");
            responseEditor.getSession().setMode("ace/mode/json");
            responseEditor.setReadOnly(true);
            responseEditor.setShowPrintMargin(false);
            responseEditor.resize();
            $('#response-editor').fadeIn(500);
        }
        if (document.getElementById("subInvocations-editor")) {
            var subInvocationsEditor = ace.edit("subInvocations-editor");
            subInvocationsEditor.setTheme("ace/theme/xcode");
            subInvocationsEditor.getSession().setMode("ace/mode/json");
            subInvocationsEditor.setReadOnly(true);
            subInvocationsEditor.setShowPrintMargin(false);
            subInvocationsEditor.resize();
            $('#subInvocations-editor').fadeIn(500);
        }
        if (document.getElementById("diff-path-left")) {
            var differ = new AceDiff({
                theme: "ace/theme/github",
                mode: "ace/mode/json",
                element: '#diff-patch-view',
                left: {
                    content: $("#diff-path-left").text(),
                    editable: false,
                    copyLinkEnabled: false
                },
                right: {
                    content: $("#diff-path-right").text(),
                    editable: false,
                    copyLinkEnabled: false
                },
            });
        }
    });
</script>
    #parse("blocks/start-replay.vm")
</body>
</html>
