<link rel="stylesheet" href="/plugins/fakeloader/css/fakeloader.min.css">
<script src="/plugins/fakeloader/js/fakeloader.js"></script>
<script src="/plugins/jquery/jquery.form.js"></script>
<div id="fake-loader"></div>

<div class="modal fade show" id="success-modal" data-easein="pulse" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p id="success-message-area"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade show" id="danger-modal" data-easein="pulse" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p id="danger-message-area"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
