<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favorite.ico" type="image/x-icon"/>
    <link rel=”icon” href="/favorite.ico" type="image/x-icon"/>
    <link rel="bookmark" href="/favorite.ico" type="image/x-icon"/>
    <title>在线流量 - Repeater</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini ">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="/dist/img/RepeaterLogo.ico"
                 alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Phoenix</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="#"  class="nav-link active">
                            <i class="nav-icon fa fa-database"></i>
                            <p>
                                在线流量
                                <span class="right badge badge-success">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/config/list.htm"  class="nav-link">
                            <i class="nav-icon fa fa-cogs"></i>
                            <p>
                                配置管理
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/heartbeat/list.htm"  class="nav-link">
                            <i class="nav-icon fa fa-heartbeat"></i>
                            <p>
                                在线模块
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>在线流量</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active">在线流量</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-blue card-outline">
                        <div class="card-header border-0">
                            <h5 class="card-title text-blue">
                                调用列表 <i class="fa fa-database"></i>
                            </h5>
                            <div class="card-tools">
                                <button type="button" class="btn btn-success btn-sm float-right" data-loading-text="searching" id="batch-batch-replay">
                                    批量回放
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="margin-top: -20px">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-inline" method="get" action="search.htm">
                                        <div class="form-group" style="margin-left: 10px">
                                            <label for="TraceId">TraceId:</label>
                                            <input type="text" class="form-control" placeholder="TraceId" name="traceId"
                                                   value="$!requestParams.traceId" autocomplete="off"
                                                   data-toggle="tooltip"
                                                   title="TraceId" style="width: 210px;margin-left:10px">
                                        </div>
                                        <div class="form-group" style="margin-left:10px">
                                            <label for="appName">appName:</label>
                                            <input type="text" class="form-control" placeholder="appName" name="appName"
                                                   value="$!requestParams.appName" autocomplete="off"
                                                   data-toggle="tooltip"
                                                   title="TraceId" style="width: 210px;margin-left:10px">
                                        </div>
                                        <div class="form-group" style="margin-left: 20px">
                                            <button type="submit" class="btn btn-primary"
                                                    data-loading-text="searching" id="search-online-btn">
                                                查询 <i class="fa fa-search icon-on-right bigger"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-hover table-striped" style="word-break: break-all;">
                                #if($pagerWrapper.content && $pagerWrapper.content.size() > 0)
                                    <thead>
                                    <tr>
                                        <th><input data-toggle="tooltip" title="全选" type="checkbox" id="check-all" name="check-all" value=""/></th>
                                        <th>应用名</th>
                                        <th>流量入口</th>
                                        <th>TraceID</th>
                                        <th>环境</th>
                                        <th>机器</th>
                                        <th>时间</th>
                                        <th width="100px">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        #foreach($data in $pagerWrapper.content)
                                        <tr>
                                            <td style="vertical-align: middle"><input data-toggle="icheck" type="checkbox" name="choose-case" value="$!{data.traceId}"/></td>
                                            <td style="vertical-align: middle">$!data.appName</td>
                                            <td style="vertical-align: middle">$!data.entranceDesc</td>
                                            <td style="vertical-align: middle">$!{data.traceId}</td>
                                            <td style="vertical-align: middle">$!{data.environment}</td>
                                            <td style="vertical-align: middle">$!{data.host}</td>
                                            <td style="vertical-align: middle">$!{data.gmtRecord}</td>

                                            <td style="vertical-align: middle">
                                                <a target="_blank"
                                                   href="detail.htm?appName=$!{data.appName}&traceId=$!{data.traceId}"
                                                   class="btn btn-primary btn-xs" data-toggle="tooltip" title="查看详情">详情</a>
                                                <button class="btn btn-success btn-xs btn-replay" data-toggle="tooltip" title="执行回放" data-id="$!{data.traceId}"
                                                        data-app="$!{data.appName}">回放</button>
                                            </td>
                                        </tr>
                                        #end
                                    </tbody>
                                #else
                                    <h5 style="padding-left: 10px"> 没有录制到任何数据</h5>
                                #end
                            </table>
                        </div>
                        <div class="card-footer clearfix" >
                            #parse("blocks/pager.vm")
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.1
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script src="/app/js/app.js" charset="UTF-8"></script>
<script src="/app/js/start-repaly.js" charset="UTF-8"></script>

<script type="application/javascript">
    jQuery(function($){
        $("#check-all").click(function () {
            // 全选
            if ($(this).prop("checked")) {
                $('input[name="choose-case"]:checkbox').each(function () {
                    $(this).prop("checked", true);
                })
            } else {
                // 取消
                $('input[name="choose-case"]:checkbox').each(function () {
                    $(this).prop("checked", false);
                })
            }
        });
    });
</script>
</script>
    #parse("blocks/start-replay.vm")
</body>
</body>
</html>